#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.storie-card h3,
ul {
  text-align: start;
}

.storie-card ul {
  display: flex;
  gap: 2rem;
}

.storie-card ul li {
  list-style: none;
}
